:root {
    --primary-color: #6f42c1;
    --secondary-color: #4b0082;
    --background-color: #f5f3ff;
    --white: #fff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 2%;
    max-width: 600px;
    margin: 0 auto;
}

.container-all-traduction {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.container-traduction {
    padding: 2%;
    max-width: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    margin-bottom: 2%;
    height: 100%;
}

.title {
    font-size: 2.5em;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#my-form, #my-form-phrase, #my-form-question {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#my-input,
#my-input-phrase,
#my-input-question {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    font-size: 1em;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

button.loading {
    background-color: #ccc;
    border-color:#ccc;
}

button.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6f42c1; /* Color de llenado (morado) */
    animation: fillWater 2s forwards; /* Cambié a 'forwards' para que mantenga el estado al finalizar */
    z-index: 1;
    transform: scaleY(0); /* Inicialmente colapsado en el eje Y */
}

button span {
    position: relative;
    z-index: 2; /* Asegura que el texto esté por encima */
}

@keyframes fillWater {
    0% {
        transform: scaleY(0); /* Colapsado al inicio */
    }
    100% {
        transform: scaleY(1); /* Llenar completamente */
    }
}


.response {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    height: 60vh;
}

.parent div {
    position: relative;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--background-color);
}

.parent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    color: var(--secondary-color);
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

#grammar-link-vocabulary,
#grammar-link-listening,
#grammar-link-1 {
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration: none;
}

#grammar-link-vocabulary:hover,
#grammar-link-listening:hover,
#grammar-link-1:hover {
    text-decoration: underline;
}

#grammar-options-vocabulary,
#grammar-options-listening,
#grammar-options-1 {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--secondary-color);
    cursor: pointer;
    display: none; 
}

#grammar-options-vocabulary.visible,
#grammar-options-listening.visible,
#grammar-options-1.visible {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
    position: relative;
}


.title-traduce {
    color: var(--secondary-color);
}

@media (max-width: 1024px) {
    .title {
        font-size: 2em;
    }

    .parent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 1.8em;
    }

    .long-text {
        font-size: 0.9em;
    }

    .parent {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }

    .parent div {
        height: auto;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.5em;
    }

    .long-text {
        font-size: 0.8em;
        margin-bottom: 30px;
    }

    .parent {
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
    }

    .text-overlay {
        padding: 8px;
    }

    #grammar-options-vocabulary,
    #grammar-options-listening {
        padding: 8px;
    }
}
